/* Подключение шрифтов */
@font-face {
  font-family: "ManropeBold";
  src: url(../fonts/Manrope-Bold.ttf);
}

@font-face {
  font-family: "Manrope";
  src: url(../fonts/Manrope-Regular.ttf);
}

@font-face {
  font-family: "ManropeLight";
  src: url(../fonts/Manrope-Light.ttf);
}

/* Сброс базовых стилей */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  outline: none;
}

/* Общие стили для всего приложения */

body {
  background: #040C18;
  padding: 0 2rem;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

a,
button {
  cursor: pointer;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

a:hover,
button:hover {
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

button:hover {
  background-color: #ae67fa;
}

ul li {
  list-style-type: none;
}

h1 {
  font-size: 60px;
  color: #ae67fa;
}

h2 {
  font-size: 34px;
}

h1,
h2 {
  font-family: "ManropeBold", sans-serif;
  background: linear-gradient(90deg, #ae67fa 1.84%, #f49867 102.67%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3 {
  font-family: "ManropeBold", sans-serif;
  color: #fff;
  font-size: 24px;
}

p {
  font-size: 16px;
  color: #fff;
}

.btn {
  display: flex;
  padding: 1rem 2rem;
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.primary-btn {
  background-color: #ff4820;
}

.section {
  max-width: 1169px;
  width: 100%;
}

.lined_header {
  background: url("../assets/img/gradient_line.svg") no-repeat 0 0 transparent;
  padding: 1rem 0;
}

/* Стили для Шапки */

.header {
  display: flex;
  max-width: 1169px;
  margin: 0 auto;
  width: 100%;
  padding: 2rem 0;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  background: #040C18;
}

.header .header-logo {
  width: 162px;
}

.header .header__menu .menu {
  display: flex;
  column-gap: 2rem;
}

.header .header__menu .menu .menu__item a {
  color: #fff;
  border-bottom: 1px solid transparent;
}

.header .header__menu .menu .menu__item:hover a {
  border-bottom-color: #fff;
}

.header .header__menu .menu .menu__item.active a {
  color: #f49867;
  border-bottom-color: #f49867;
}

.header .cta_buttons {
  display: flex;
  column-gap: 1rem;
}

/* Стили для первого экрана (Хиро секция) */

.hero_section {
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;
  min-height: 60vh;
  margin: 14rem 0 3rem;
}

.hero_section .hero_section__left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 3rem;
  width: 75%;
}

.hero_section .hero_section__left .left__description {
  color: #81afdd;
}

.hero_section .hero_section__left .left__cta_buttons {
  display: flex;
  width: 100%;
}

.hero_section .hero_section__left .left__cta_buttons input[type="text"] {
  min-width: 250px;
  width: 70%;
  padding: 8px 32px;
  border-radius: 4px 0 0 4px;
  border: 1px solid #052d56;
  border-bottom: none;
  background-color: #052d56;
}

.hero_section .hero_section__left .left__cta_buttons .btn {
  border-radius: 0 4px 4px 0;
}

.hero_section .hero_section__right {
  height: 100%;
}

.hero_section .hero_section__right img {
  width: 100%;
}

/* Секция брендов */

.brands_section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 6rem 0;
  column-gap: 3rem;
}

/* Что такое Chat GPT */

.what_is_chatgpt_section {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  margin: 6rem 0;
  row-gap: 7rem;
  background: url(../assets/img/what_is_gpt_3_bg.svg) no-repeat 0 0 / cover;
}

.what_is_chatgpt_section .what_is_chatgpt_section__top {
  display: flex;
}

.what_is_chatgpt_section .what_is_chatgpt_section__top .top__header {
  flex: 30%;
}

.what_is_chatgpt_section .what_is_chatgpt_section__top .top__content {
  flex: 65%;
  color: #81afdd;
  font-size: 14px;
}

.what_is_chatgpt_section .what_is_chatgpt_section__middle {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.what_is_chatgpt_section .what_is_chatgpt_section__middle .middle__header {
  width: 500px;
}

.what_is_chatgpt_section .what_is_chatgpt_section__middle a {
  color: #ff8a71;
  font-size: 16px;
  border-bottom: 1px solid transparent;
}

.what_is_chatgpt_section .what_is_chatgpt_section__middle a:hover {
  border-bottom: 1px solid #ff8a71;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.what_is_chatgpt_section .what_is_chatgpt_section__bottom {
  display: flex;
  justify-content: space-between;
  align-items: start;
  column-gap: 2rem;
}

.what_is_chatgpt_section .what_is_chatgpt_section__bottom .bottom__container {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.what_is_chatgpt_section
  .what_is_chatgpt_section__bottom
  .bottom__container
  .container__content {
  color: #81afdd;
  font-size: 14px;
  line-height: 1.8;
}

/* Будущее наступило */

.future_here {
  display: flex;
  column-gap: 6rem;
  margin: 6rem 0 2rem;
}

.future_here .future_here__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 2rem;
  flex: 2;
}

/* .future_here .future_here__left .left__header {
} */

.future_here .future_here__left .left__cta {
  color: #f49867;
  border-bottom: 1px solid transparent;
}

.future_here .future_here__left a:hover {
  border-bottom: 1px solid #f49867;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.future_here .future_here__right {
  flex: 3;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.future_here .future_here__right .right__container {
  display: flex;
  justify-content: space-between;
}

.future_here .future_here__right .right__container .container__header {
  width: 35%;
}

.future_here .future_here__right .right__container .container__content {
  width: 55%;
  color: #81afdd;
}

/* Превосходя все ожидания */

.beyond_expect{
  display: flex;
  align-items:flex-end;
  /* width: 60%; */
  column-gap: 1.188rem;
  margin: 1rem 0 7rem;
  padding: 0 2rem;
}

.beyond_expect .beyond_expect__right{
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0 0 2rem;
  gap: 1em;
}

.right__small_header{
  color: #71E5FF;
}

.right__header{
  width: 60%;
}

.beyond_expect .beyond_expect__right .container__content{
  color: #81AFDD;
  line-height: 30px;
  width: 90%;
  
}

.beyond_expect .beyond_expect__right a{
  color: #f49867;
  border-bottom: 1px solid transparent;
  
}

.beyond_expect .beyond_expect__right a:hover{
  border-bottom: 1px solid #f49867;
}

/* Регистрация */
.registration{
  display: flex;
  justify-content: space-between;
  border-radius: 11px;
  border-color: transparent;
  background: linear-gradient(90deg, #ae67fa 1.84%, #f49867 102.67%);
  padding: 23px 46px 23px 41px;
  margin: 3rem 3rem 7.5rem;
}

.registration .left__registration .left__cta{
  font-size: 12px;
  color: #0E0E0E;
}

.registration .left__registration .container__content{
  font-size: 24px;
  font-weight: 800;
  color: #000000;
  width: 50%;
}

.registration .right__registration{
  display: flex;
  justify-content: center;
  align-items: center;
}

.registration .right__registration .registration__btn{
  border: none;
  font-size: 16px;
  color: #fff;
  background: #000000;
  border-radius: 40px;
  padding: 1rem 4rem;
}

.registration .right__registration button:hover{
background-color: #ae67fa;
}

/* БЛОГ */

.blog{
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  margin: 0 0 8rem;
}

.blog .header_blog{
  display: flex;
}

.blog img{
  width: 100%;
}

.blog .all_art{
  display: flex;
  flex-direction: row;
}

.blog .left_art{
  display: flex;
  flex-direction: column;
  flex: 2;
}

.blog .right_art{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 3rem;
  flex: 4;
}

/* .blog .one_main_art{
  display: flex;
  flex-direction: column;
  min-width: 400px;
} */

.blog .one_minor_art{
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  flex: 30%;
}

.blog .description_art{
  display: flex;
  flex-direction: column;
  background-color: #042C54;
  padding: 2rem;
  row-gap: 1rem;
  align-items: start;
}

.blog .description_art_main{
  display: flex;
  flex-direction: column;
  background-color: #042C54;
  padding: 2rem;
  flex: 2;
  justify-content: space-between;
  align-items: start;
}

.blog .description__art_up{
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.blog .all_art a{
  border-bottom: 1px solid transparent;
}

.blog .all_art a:hover{
  color: #71E5FF;
  border-bottom: 1px solid #71E5FF;
}

.blog .date{
  font-size: 12px;
  color: #ffffff;
  font-family: "ManropeLight";
}

.blog .read_art{
  font-size: 12px;
  color: #ffffff;
  font-family: "ManropeLight";
}

.blog .read_art_main{
  font-size: 12px;
  color: #ffffff;
  font-family: "ManropeLight";
  
}

.blog .head_main_art{
  font-size: 25px;
  font-family: "Manrope-ExtraBold", sans-serif;
}

.blog .head_minor_art{
  font-size: 19px;
  font-family: "Manrope-ExtraBold", sans-serif;
}

/* БЛОГ */
/* Футтер */
  
.footer{
  display: flex;
  flex-direction: column;
  background-color: #031B34;
  padding: 196px 137px 103px;
  row-gap: 5rem;
  max-width: 1440px;
  
}

.footer .footer__header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .footer__header .top__header{
  text-align: center;
  
}

.footer .footer__middle{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 180px;
}

.footer .footer__middle .early_access_btn{
  border: 1px solid;
  font-size: 18px;
  border-color: #9b9b9b;
  color: #9b9b9b;
  background-color: transparent;
  padding: 20px 70px;
}

.footer .footer__middle button:hover{
  color: #000000;
  background-color: #fff;
  border-color: black;
}

.footer .footer__bottom{
  display: flex;
  justify-content: space-between;
}

.footer .footer__bottom .logo{
  flex-basis: 24%;
} 

.footer .footer__bottom .logo .GPT-3_logo{
  padding: 0 0 23px;
}

.footer .footer__bottom_right{
  display: flex;
  column-gap: 12rem; 
  justify-content: end;
  /* flex-basis: 68%; */
}

.footer .footer__bottom .address{
  font-size: 12px;
  width: 68%;
}

.footer .footer__bottom .footer__bottom_right .bottom__links_header{
  margin: 0px 0px 34px;
  font-size: 14px;
  text-align: start;
  font-weight: 700;
}


.footer .footer__bottom .footer__links .footer__info_links{
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  text-align: start;
}

.footer .footer__bottom .footer__company_info .footer__company_links{
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  text-align: start;
  align-items: start;
}

.footer .footer__bottom .footer__company_header{
  margin: 0px 0px 34px;
  text-align: start;
}

.footer .footer__bottom .footer__contact_info{
  width: 20%;
}

.footer .footer__bottom .footer__contact_info .footer__contact_content{
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  text-align: start;
  
}

.footer .footer__bottom .footer__contact_info .footer__contact_header{
  margin: 0px 0px 34px;
  text-align: start;
}

.footer .footer__bottom .footer__bottom_right .footer__link{
  font-size: 12px;
  border-bottom: 1px solid transparent;
  /* font-weight: 100; */
  font-family: "ManropeLight";
}


.footer .footer__bottom .footer__bottom_right a:hover{
  color: #71E5FF;
  border-bottom: 1px solid #71E5FF;;
}

.footer__copyright .copyright__info{
  font-size: 12px;
  text-align: center;
  font-weight: 300;
}

  /* margin: 0px 0px 34px;
  text-align: center; */


/* Медиа запросы для адаптива */

@media screen and (max-width: 1024px) {
  .header {
    flex-direction: column;
  }
}
